@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import './assets/sass/app.scss';
body {
    font-family: 'Open Sans', sans-serif !important;
}

hr {
    height: 1px !important;
    color: #dbdbdb;
    background-color: #dbdbdb;
    border: none;
    margin: 24px 0;
}